<!DOCTYPE html>
</html>
    <head>
        <title>api-mysql-sequelize</title>
 	      
         <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
         <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
         <link rel="stylesheet" href="/css/styles.css">
       
    </head>
    <body>
      <nav class="nav-toggle two">
  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <div class="widescreen">
          <a href="/"><img src="/img/svg/logoblanco.svg" class="logo" alt="api-mysql"></a>


          <ul class="left-links main-nav">
            <li class="nav-item"><a href="/">Inicio</a></li>
            <li class="nav-item"><a href="/dashboard">Dashboard</a></li>
          </ul>

          <ul class="right-links main-nav">
            <li class="nav-item"><a href="/signup/">Sign Up</a></li>
            <!-- Authentication Links -->
            <li class="divider-left nav-item visitor-item"><a class="btn btn-primary small" href="/login/">Log In</a></li>
          </ul>

        </div>

        <div class="narrowscreen">

          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mobile-navigation" aria-expanded="false" aria-controls="#mobile-navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar top-bar"></span>
            <span class="icon-bar middle-bar"></span>
            <span class="icon-bar bottom-bar"></span>
          </button>

          <a href="/"><img class="logo" src="/img/svg/logoblanco.svg" alt="elgatflaco"></a>


          <span class="login">
            <a href="/vcs-authorize/" data-hj-masked="" class="mobile-nav signup visitor-item" data-analytics-location="nav">Log In</a>
            <a href="/dashboard" class="dashboard-link mobile-nav">Go to app</a>
          </span>



          <ul class="dropdown-menu2" id="mobile-navigation">
            <li class="border-bottom"><a href="/">Inicio</a></li>
            <li class="border-bottom"><a href="/home">Dasboard</a></li>
          </ul>

        </div>
      </div>
    </div>
  </div>
</nav>
